@using FileUploader.Client.Services
@using FileUploader.Common.Communication
@using System.Net.Http.Headers
@inject HttpClient Http
@inject IAlertService AlertService

<PageTitle>Upload Files</PageTitle>

<label for="inputFile" class="btn btn-secondary me-5 input-btn">
    <InputFile id="inputFile" OnChange="@OnInputFileChange" multiple class="d-none" />
    Upload Files
</label>

@code {
    [Parameter]
    public EventCallback OnNewFile { get; set; }

    private int maxAllowedFiles = int.MaxValue;
    private long maxFileSize = long.MaxValue;
    private List<string> fileNames = new();
    private List<UploadResult> uploadResults = new();

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        using var content = new MultipartFormDataContent();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            fileNames.Add(file.Name);

            content.Add(
                content: fileContent,
                name: "\"filesList\"",
                fileName: file.Name);
        }

        HttpResponseMessage response = await Http.PostAsync("/files/addFiles", content);

        if (!response.IsSuccessStatusCode)
        {
            AlertService.ShowAlert(await response.Content.ReadAsStringAsync());
            Console.WriteLine("File upload fail! " + response.ReasonPhrase);
            return;
        }

        List<UploadResult> newUploadResults = await response.Content.ReadFromJsonAsync<List<UploadResult>>();

        if (newUploadResults != null)
        {
            uploadResults = uploadResults.Concat(newUploadResults).ToList();
            await OnNewFile.InvokeAsync();
        }
    }
}
