@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <ErrorBoundary Context="Exception">
            <ChildContent>
                <FileUploader.Client.Shared.Alert></FileUploader.Client.Shared.Alert>
                @Body
            </ChildContent>
            <ErrorContent>
                <div class="alert bg-danger text-white alert-dismissible">
                    @Exception.GetType(): @Exception.Message
                    <button class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>
